* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 2px solid black;
  display: flex;
}

#logo {
  display: flex;
  align-items: flex-end;
}

#navBar {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-evenly;
}

a {
  margin: 1rem;
  padding: 0.5rem;
}

nav > a.active {
  color: black;
}

#logoImg {
  margin: 1rem;
}

h1 {
  margin-top: 2rem;
}
