* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  color: #000000;
  text-align: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 80rem;
  padding: 0.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
}
.puppy-card {
  text-decoration: none;
  width: 10rem;
  height: 15rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all 0.2s ease-in-out;
  margin: 1rem;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.puppy-card:hover {
  transform: scale(1.05);
}
.puppy-card > img {
  flex: 0 1 auto;
  height: 150px;
  align-items: center;
}

#pet-details {
  flex-direction: row;
}

#pet-details-img {
  width: 500px;
  height: 450px;
  padding: 0.5rem;
  align-items: center;
  flex: 0 1 auto;
}

#pet-details-content{
  align-items: left;
  justify-content: left;
}


#button-text {
  display: flex;
  justify-content: space-between;
}

#adopt-button {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ccc;
}

#adoption-form {
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  background-color: #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#adoption-form > label {
  margin: 0.5rem;
  padding: 0.5rem;
}


.unliked {
  position: absolute;
  font-size: 2rem;
  color: rgba(50, 50, 93, 0.279);
  padding: 2rem;
}

.unliked:hover {
  cursor: grab;
}
.liked {
  position: absolute;
  font-size: 2rem;
  color: rgb(255, 0, 0);
  padding: 2rem;
}

.liked:hover {
  cursor: grab;
}