* {
  box-sizing: border-box;
}
.content {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 80rem;
  padding: 0.5rem;
}
main {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.5rem;
}
.puppy-card {
  text-decoration: none;
  border: 1px solid black;
  width: 10rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all 0.2s ease-in-out;
  margin: 1rem;
  padding: 0.3rem;
}
.puppy-card:hover {
  transform: scale(1.05);
}
.puppy-card > img {
  width: 100%;
  height: 60%;
}
#pet-details-img {
  width: 500px;
  height: 450px;
  padding: 0.5rem;
}
.pet-details-content{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 33rem;
  padding: 0.5rem;
}
#button-text {
  display: flex;
  justify-content: space-between;
}
#adopt-button {
  display: flex;
  align-items: flex-end;
}
#adoption-form {
  margin: 0.5rem;
  padding: 0.5rem;
}
#adoption-form > label {
  margin: 0.5rem;
  padding: 0.5rem;
}